/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ========================== FIN DU RESET CSS =============================*/

* p{
	
		font-family:Helvetica;
	
}

/* ========================== Page Mon_Profil ============================*/

/* =========== Header ============*/

header{
	
	height:25%;
	width:100%;
}

#bandeau{
	
	width:100%;
	height:100%;
	
}

/* ========= Partie menu============*/
.navbar-brand{
	
	font-family:Helvetica;
	text-decoration:none;
	
}

.navbar-collapse{
	
	font-family:Helvetica;
	text-decoration:none;
	
}
.col-sm-12{
	
	margin:0px;
	
}

.titre_parcours{
	
	margin-top:40px;
	
}
/* ========= Partie titre sous le menu============*/

.titre_parcours, .titre2{
	
	margin-bottom:50px;
	text-align: center;
	color:  #088A85;
	
}

/* ========= Partie centrale ============*/

.input-group{
	
	float:right;
	
}

/* ========= Cadre du profil ============*/

#profil_pic{
	
	margin:0px auto;
	height:150px;
	width:100px;;
	
}
#infos_content{
	
	margin:0px auto;
	height:150px;
	width:300px;
	
}
#infos_content	p{
	
	line-height:25px;
	
}
#nom_respo{
     text-align: center;
 }

#nom_respo2{

    background: rgba(198,209,209,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(198,209,209,1) 0%, rgba(154,201,199,1) 77%, rgba(154,201,199,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(198,209,209,1)), color-stop(77%, rgba(154,201,199,1)), color-stop(100%, rgba(154,201,199,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(198,209,209,1) 0%, rgba(154,201,199,1) 77%, rgba(154,201,199,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(198,209,209,1) 0%, rgba(154,201,199,1) 77%, rgba(154,201,199,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(198,209,209,1) 0%, rgba(154,201,199,1) 77%, rgba(154,201,199,1) 100%);
    background: radial-gradient(ellipse at center, rgba(198,209,209,1) 0%, rgba(154,201,199,1) 77%, rgba(154,201,199,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6d1d1', endColorstr='#9ac9c7', GradientType=1 );

}

.isep {
    width : 100%;
}

.recherche{
 position: center;
}

