<?xml version="1.0" encoding="UTF-8" ?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
 http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd" version="1.0">
 
   <persistence-unit name="Eclipselink_JPA">
   <provider>oracle.toplink.essentials.PersistenceProvider </provider>
     <class>beans.Utilisateur</class>
	<properties>
         <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/mcoraf_ogive"/>
         <property name="javax.persistence.jdbc.user" value="root"/>
         <property name="javax.persistence.jdbc.password" value=""/>
         <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
         <property name="eclipselink.logging.level" value="FINE"/>
         <property name="eclipselink.ddl-generation" value="create-tables"/>
      </properties>
   </persistence-unit>
 
</persistence>